{
  "Name":  "XCode数据缓存，用于加速各实体类启动",
  "Counts":  {
    "Membership_Course_Course":  3,
    "School_Student_Student":  0,
    "Membership_User_UserX":  11,
    "School_Dpt_Dpt":  2,
    "Membership_Student_Student":  6,
    "Membership_Major_Major":  4,
    "Membership_SelectCourse_SelectCourse":  2,
    "School_Course_Course":  0,
    "Membership_CsTable_CsTable":  19,
    "Log_UserOnline_UserOnline":  0,
    "School_Major_Major":  1,
    "Cube_App_App":  0,
    "Log_Log_Log":  936,
    "Membership_Role_Role":  3,
    "School_Class_Class":  0,
    "School_Teacher_Teacher":  1,
    "Membership_Class_Class":  8,
    "Membership_Dpt_Dpt":  3,
    "Membership_ClassRoom_ClassRoom":  6,
    "Membership_Teacher_Teacher":  4
  },
  "FieldCache":  {
    "Log_Category":  {
      "用户":  "用户 (519)",
      "菜单":  "菜单 (234)",
      "角色":  "角色 (169)",
      "访问":  "访问 (6)",
      "数据库":  "数据库 (5)",
      "系统设置":  "系统设置 (3)"
    }
  }
}